<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/addCompany.css">
    <title>Company Management</title>
</head>

<body>
    <div class="wrapper">
        <div class="sidenavAdd">
            <div class="logo">
                <img src="../assests/logo.png" alt="" id="companyLogo">
            </div>
            <ul>
                <li><a href="#" id="home"><img src="../assests/home-solid.svg" alt="" class="homeImg">Home</a></li>
                <li><a href="#" id="add"><img src="../assests/building-solid.svg" alt="" class="addImg"> Add Company</a>
                </li>
                <li><a href="#" id="manage"><img src="../assests/edit-regular.svg" alt="" class="manageImg"> Manage</a>
                </li>
                <li><a href="#" id="fees"><img src="../assests/money-bill-wave-alt-solid.svg" alt="" class="feesImg">
                        Charge SetupFees</a></li>
                <li><a href="#" id="billing"><img src="../assests/check-circle-solid.svg" alt="" class="billingImg"> One
                        TimeBilling</a></li>
                <li><a href="#" id="comissions"> <img src="../assests/file-invoice-solid.svg" alt=""
                            class="comissionsImg">Comissions</a></li>
                <li><a href="#" id="settings"><img src="../assests/cog-solid.svg" alt="" class="settingImg">
                        Settings</a></li>
            </ul>
        </div>
        <div class="addContent">
                <div id="Heading">Add company</div>
                <div class="formContent">
                
                <button id="btnSearch"><img src="../assests/search-solid.svg" alt="" class="searchImg"> </button>
                <!-- <img src="../assests/caret-down-solid.svg" alt="" class="caretImg"> -->
                <input type="text" placeholder="" name="search" class="search">
            </div>
            <div class="companyInformation">
                Company Information
                <hr>
            </div>
            <div class="information">
                <form action="" class="formInfo">
                    <table>
                        <tr>
                            <th><label for="comapnyName" class="name">Company Name</label></th>
                            <th><label for="email" class="email">Email </label></th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="nameText">
                            </td>
                            <td>
                                <input type="text" class="emailText">
                            </td>
                            <td>
                                <button class="btnSave">Save</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>

</html>