body{
  font-family: sans-serif;
  margin: 0;
}
.wrapper{
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sideNav{
  width: 20%;
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content{
  width: 80%;
  height: 100%;
}

button{
  display: flex;
  padding-top: 30px;
    padding-left: 10px;
    width: auto;
    padding-bottom: 20px;
    background: dimgray;
    border: none;
    color: white;
    font-size: 24px;
}

.homeImg{    
  width: 25px;   
  -webkit-filter: invert(100%); 
  padding-right: 20px;
}

.logo{
  display: flex;  
  justify-content: center;
  padding-top: 20px;
}

#companyLogo{
  width: 80px;
  height: 80px;
}

.addImg{     
  width: 20px;   
  -webkit-filter: invert(100%); 
  padding-right: 20px;
}

.manageImg{     
  width: 25px;   
  -webkit-filter: invert(100%);
  padding-right: 20px;
}

.feesImg{    
  width: 25px;   
  -webkit-filter: invert(100%);
  padding-right: 20px; 
}
.billingImg{      
  width: 25px;   
  -webkit-filter: invert(100%);
  padding-right: 20px;
}
.comissionsImg{     
  width: 20px;   
  -webkit-filter: invert(100%);
  padding-right: 20px;
}
.settingImg{
   width: 20px;   
  -webkit-filter: invert(100%);
  padding-right: 20px;
}

#heading{
  padding-left: 30px;
  font-size: x-large;
  color: dimgray;
  padding-top: 30px;
  display: flex;
  padding-bottom: 20px;
}

.searchImg{
  width: 17px;
}

.btnSearch {
  background: white;
  color: dimgrey;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.formContent{
  padding-left: 500px;
}

.companyInformation{
  color: dimgrey;
  font-size: x-large;
  padding-top: 10px;
  border-top: 1px solid dimgray;
  padding-left: 20px;
  padding-right: 30px;
}

.information{
  color: dimgrey;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
}

.nameText{
  display: flex;
  width: 400px;
  padding: 0.6em;
  
}

.emailText{
  display: flex;
  width:400px;
  padding: 0.6em;
  margin-left: 18px;
}

.name{
  display: flex;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
}

.email{
  display: flex;  
  padding-left: 20px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
}

.btnSave{
  background-color: rgb(8, 189, 8);
  color: white;
  justify-content: center;
  width: 150px;
  height: 34px;
  font-size: 20px;
  padding: 5px;
  margin-left: 30px;
  border: none;
  border-radius: 4px
}

.caretImg{
  width: 20px;
  color: dimgrey;
}



.formContent .caretImg {
  position: absolute;
}

.formContent{
    display: flex;
    justify-content: flex-start;
}

.search{
  border: none;
}

#Heading{
    display: flex;
    font-size: xx-large;
    color: dimgray;
    padding-left: 20px;
    padding-top: 30px;
}


#home:hover::after{
  content: ' \203A';
  padding-left: 200px;
  font-weight: 900;
}

#add:hover::after{
  content: ' \203A';
  padding-left: 120px;
  font-weight: 900;
}

 #manage:hover::after{
  content: ' \203A';
  padding-left: 180px;
  font-weight: 900;
}

#fees:hover::after{
  content: ' \203A';
  padding-left: 80px;
  font-weight: 900;
}

 #billing:hover::after{
  content: ' \203A';
  padding-left: 90px;
  font-weight: 900;
}

 #comissions:hover::after{
  content: ' \203A';
  padding-left: 145px;
  font-weight: 900;
}

#settings:hover::after{
  content: ' \203A';
  padding-left: 180px;
  font-weight: 900;
}

.toggle{
  color: white;
  width: 50px;
  width: 25px;
  font-size: xx-large;
}

.hideMenu{
  /* display: flex;
  justify-content: flex-end; */
display: none;
}

@media screen and (max-width:767px){
  .sideNav{
   height: 100%;
  }
  .content{
    width: 100%;
    height: 100%;
  }
  .information{
    display: flex;
    flex-direction: column;
  }
  .formContent{
    padding-left: 60px;
  }
  .nameText{
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
  }
  .emailText{
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    margin-left: 0;
  }
  .btnSave{
    width: 268px;
    font-size: x-large;
    font-weight: bold;
    align-items: center;
    margin-left: 0;
    height: auto;
  }
  .email{
    padding-left: 10px;
  }
  .name{
    width: 50px;
    overflow-wrap: break-word;
  }
  table, thead, tbody, th, td, tr { 
    display: block; 
    width: 100%;
  }
  th{
    display: none;
  }
  td:nth-of-type(1)::before{
    content: "Company Name";
    font-size: xx-large;
  }
  td:nth-of-type(2)::before{
    content: "Email";
    font-size: xx-large;
  }

  .btnSearch{
    align-items: center;
  }
  #heading{
    font-size: xx-large;
  }
  .companyInformation{
    font-size: xx-large;
  }
  button{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    overflow-wrap: break-word;
    text-align: left;
  }
  .hideMenu{
    display: flex;
    justify-content: flex-end;
  }

  .wrapper.collapse .sideNav{
    width: 50px;
  }
  
  .wrapper.collapse .sideNav button{
    text-align: center;
  }
  
  .wrapper.collapse .sideNav .logo{
    justify-content: flex-start;
  }
  #home:hover::after{
    content: ' \203A';
    font-weight: 900;
    display: none;
  }
  
  #add:hover::after{
    content: ' \203A';
    font-weight: 900;
    display: none;
  }
  
   #manage:hover::after{
    content: ' \203A';
    font-weight: 900;
    display: none;
  }
  
  #fees:hover::after{
    content: ' \203A';
    font-weight: 900;
    display: none;
  }
  
   #billing:hover::after{
    content: ' \203A';
    font-weight: 900;
    display: none;
  }
  
   #comissions:hover::after{
    content: ' \203A';
    font-weight: 900;
    display: none;
  }
  
  #settings:hover::after{
    content: ' \203A';
    font-weight: 900;
    display: none;
  }
}




/* @media screen and (max-width:400px){
  
  .name{
    width: 0;
  }
  .nameText{
    width: auto;
  }
  .emailText{
    width: auto;
  }
  .information{
    padding-left: 30px;
  }
  .companyInformation{
    padding-left: 30px;
  }
  #heading{
    padding-left: 40px;
  }
  button{
    padding-left: 40px;
  }
  .btnSave{
    margin-left: 20px;
  }
} */
